container_commands:
  01_migrate:
    command: "python scan_to_reveal/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python scan_to_reveal/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "scan_to_reveal.settings"
    PYTHONPATH: "/opt/python/current/app/scan_to_reveal:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "scan_to_reveal/scan_to_reveal/wsgi.py"
